@import "./header.scss";

h1 {
  color: mediumvioletred;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.start_success {
  text-align: center;
  background-color: rgb(248, 231, 31);
  padding: 15px;
  font-size: 2rem;
  color: black;
}
